.Card {
    width: 100%;
    height: 100% !important;
    border-radius: 0px !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.divicon {
    margin-bottom: -40px;
    padding: 0 4px;
    z-index: 2;
}

.Icons {
    background-color: white;
    border-radius: 8px;
    color: #000;
}

.corsla {
    transition: all ease-in-out 0.7s;
}

.Img {
    width: 100%;
    min-height: 150px;
    max-height: 400px;
    object-fit: fill;
    overflow: hidden !important;
    transition: all ease-in-out 0.4s;
}

.Img:hover {
    transform: scale(1.08);
}


.P {
    text-align: center;
    color: #1c1d1d94;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Almarai', sans-serif;

}

.span {
    text-decoration: line-through;
}

.discount {
    font-size: 14px;
    color: red;
    letter-spacing: 1px;
}

.titel {
    width: 100%;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    letter-spacing: 1.4px;
    font-size: 16px !important;
    font-family: 'Almarai', sans-serif;
}

.brand {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 2px;
}

@media only screen and (max-width: 550px) {
    .Img {
        height: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .Img {
        height: 150px;
    }
}