.Myinput {
    display: none;
}

.mylable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px dashed black;
    margin-top: 10px;
    border-radius: 10px;
}

.myfdiv {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
    flex-direction: column;
}

.Myinput2 {
    width: 100%;
    border-radius: 3px;
    border: 1.5px solid black;
    outline: none;
    resize: none;
    padding: 5px;
}

.mybtn {
    padding: 2px 0;
    font-size: 23px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.805);
    border: 1.5px solid black;
}

.mybtn:hover {
    background-color: green;

}